doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='./style.css' rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    body
        header
            .container
                .col-md-12
                    .col-md-4.go-land.bold
                        .size-Go
                            span.color-y Go
                            | Landing
                        div with the
                            span.color-y  GL CMS
                            | :
                        .color-y hundreds of the awesome
                        .color-y web applications and websites.
                    .col-md-8
                        nav.navbar
                            .navbar-header
                                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                            #navbar.collapse.navbar-collapse
                                ul.nav.navbar-nav.navbar-right
                                    li
                                        a(href='#') Menu Item
                                    li
                                        a(href='#') Menu Item
                                    li
                                        a(href='#') Menu Item
                                    li
                                        a(href='#') Menu Item
                                    li
                                        a(href='#') Log In
                        .contact.bold
                            .color-y +420 777 04 16 04
                            div cms@golanding.biz
                .col-md-12.text-uppercase.bold.header-text-bottom
                    .text-left view cms demo >>>
                    .text-center >>> just one (1) click - order now >>>
                    .text-right >>> learn more...
        section
            h1.feature.text-center.bold Our BEST features:
            .features-bg
                .container
                    .row.col-md-12
                        .col-md-10.features-trans-bg
                            p >>> One (1) click philosophy
                                a  Learn more
                            ul
                                li Quick as a Storm
                                    a  Test now!
                                li Really multilingual
                                    a  view DEMO
                                li Supported and Developed continuosly
                                    a  Contact us!
        section
            h1.text-center.bold Fill in this simple form to order the Landing right now!
            .container
                    .row.col-md-12
                        form.form-horizontal
                            .col-md-6
                                .form-group
                                    label.col-md-2.control-label Name
                                    .col-md-10
                                        input.form-control
                                .form-group
                                    label.col-md-7.control-label Which project would you like:
                                    .col-md-5
                                        input.form-control
                                .form-group
                                    label.col-md-7.control-label Any additonal widgets?
                                    .col-md-5
                                        input.form-control
                                .form-group
                                    label.col-md-3.control-label Sitename*
                                    .col-md-9
                                        input.form-control
                            .col-md-6
                                .form-group
                                    label.col-md-2.control-label E-mail
                                    .col-md-10
                                        input.form-control
                                .form-group
                                    label.col-md-5.control-label Select Languages
                                    .col-md-7
                                        input.form-control
                                .form-group
                                    label.col-md-4.control-label Colors you like
                                    .col-md-8
                                        input.form-control
                                .form-group
                                    label.col-md-5.control-label Examples (if any)*
                                    .col-md-7
                                        input.form-control
                            .col-md-3
                                .form-group
                                    button.btn.btn-default.bold(type="submit") >>> Submit !!!
        section
            .container
                .row.col-md-12.customers.bold
                    .col-md-6
                        img(src="./images/bg-block-4.png")
                        img.hidden(src="./images/bg-block-portret-4.png")
                    .col-md-6
                        div Our product is inspired and inspiring.
                        div No Borders. No limits.
                        div And we speak your language.
                        p.text-uppercase your customers will understand you!!!
        footer.bold
            .container
                p
                    a Login to your account
                p Read more about the features and conditions:
                ul
                    li
                        a  Technical description and features
                    li
                        a  Implementation Steps
                    li
                        a  Conditions and guarantee
                    li
                        a  Privacy policy
                .text-center 2017 GoLanding.biz | All rights reserved | GLTECH s.r.o. Prague. Czech Republic